*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    
    display:flex;
    justify-content: space-evenly;
align-items: center;
padding: 20px 0px;
}
.navbar ul{
    display: flex;
    gap:30px;
    
    list-style :none;
}

img{
    height:600px;
}
.container{
    
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
}
.highlight{
    color: #2c7da0;

}
button{
    background-color: #2ec4b6;
    color: white;
    font-size: 30px;
    padding:10px;
    border:none;
    border-radius: 5px;
}
footer{
    display:flex;
    justify-content: center;
    align-items: center;
}
header{
    background-repeat: no-repeat;
    background-image: url(box4.jpg);
    background-size: cover;
}